name: Push to ACR and Deploy to ACI

on:
  push:
    branches:
      - master

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Login to ACR
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.ACR_USERNAME }}
                password: ${{ secrets.ACR_PASSWORD }}

            - name: Build Docker image
              run: |
                docker build -t ${{ secrets.ACR_NAME }}/${{ secrets.IMAGE_NAME }}:latest .
            
            - name: Push Docker image
              run: |
                docker push ${{ secrets.ACR_NAME }}/${{ secrets.IMAGE_NAME }}:latest
            
            - name: Deploy to ACI
              uses: azure/aci-deploy@v1
              with:
                resource_group: ${{ secrets.AZURE_RESOURCE_GROUP }}
                name: ${{ secrets.ACI_NAME }}
                image: ${{ secrets.ACR_NAME }}/${{ secrets.IMAGE_NAME }}:latest
                location: ${{ secrets.AZURE_LOCATION }}
                registry-username: ${{ secrets.ACR_USERNAME }}
                registry-password: ${{ secrets.ACR_PASSWORD }}