name: Run scraper

on:
  workflow_dispatch:  
  workflow_call:   
    secrets:
      AZURE_CONNECTION_STRING:
        description: 'Azure Storage connection string'
        required: true
      CONTAINER_NAME:
        description: 'Azure Storage container name'
        required: true   
      BRONZE_LOCATION:
        description: 'Bronze location in Azure Storage'
        required: true
      SILVER_LOCATION:
        description: 'Silver location in Azure Storage'
        required: true

jobs:
  run-scraper:
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3   

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt
                          
      - name: Run scraper to get the latest stock prices
        env:
          AZURE_CONNECTION_STRING: ${{ secrets.AZURE_CONNECTION_STRING }}
          CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
          BRONZE_LOCATION: ${{ secrets.BRONZE_LOCATION }}
          SILVER_LOCATION: ${{ secrets.SILVER_LOCATION }}
          PYTHONPATH: .
        run: python scripts/run_scraper.py

      - name: Run Silver transformation
        env:
          AZURE_CONNECTION_STRING: ${{ secrets.AZURE_CONNECTION_STRING }}
          CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
          BRONZE_LOCATION: ${{ secrets.BRONZE_LOCATION }}
          SILVER_LOCATION: ${{ secrets.SILVER_LOCATION }}
          PYTHONPATH: .
        run: python scripts/run_silver.py