name: Run scraper

on:
  push:
    branches:
      - master
    paths:
      - '*'
      - '!api/**'
  workflow_dispatch:  
  workflow_call:      

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3   

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install -r requirements.txt
                          
      - name: Run scraper to get the latest stock prices
        env:
          AZURE_CONNECTION_STRING: ${{ secrets.AZURE_CONNECTION_STRING }}
          CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
          PYTHONPATH: .
        run: python scripts/run_scraper.py
