name: Schedule to start / stop Azure Container Instance

on:
  workflow_dispatch:
  workflow_call: 
    inputs:
      action:
        description: 'Action to perform'
        required: true
        default: 'start'
        type: string

jobs:
  manage-aci:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: start or stop aci
        run: |
          if [ "${{ inputs.action }}" == "start" ]; then
            az container start \
              --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
              --name ${{ secrets.ACI_NAME }}
          else
            az container stop \
              --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
              --name ${{ secrets.ACI_NAME }}
          fi
